name: Deploy React App to GitHub Pages

on:
  push:
    branches:
      - main  # या master

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # Install dependencies inside my-app
      - name: Install dependencies
        run: npm install
        working-directory: my-app

      # Build React app inside my-app
      - name: Build React app
        run: npm run build
        working-directory: my-app

      # Deploy build folder
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./my-app/build
